.list {
  list-style: none;
}

.community-content {
  width: 100%;
  display: flex;
  border: solid 1px black;
  position: relative;
  margin-bottom: 10px;
}

.community-img {
  width: 33vh;
  height: 33vh;
}

.community-info {
  border-left: solid 1px black;
}

.community-name {
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}

.community-profile {
  font-size: 15px;
  margin-left: 10px;
}

.community-list {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
}

.community-enter {
  font-size: 20px;
  text-decoration: none;
  color: white;
  background-color: black;
}

.community-show {
  font-size: 20px;
  text-decoration: none;
  color: white;
  background-color: black;
  margin-left: 10px;
}