* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
}

.title {
  color: black;
  padding: 0.5em 0;
  border-top: solid 3px black;
  border-bottom: solid 3px black;
  padding-left: 3vh;
  font-weight: bold;
}

.menu {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  min-width: 200px;
}

.hobbybutton {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: black;
  border: solid 2px black;
  border-radius: 3px;
  transition: 0.4s;
}

.hobbybutton:hover {
  background: black;
  color: white;
}

.lists-right {
  display: flex;
  list-style: none;
}

.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}

.make-community {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}

.hobby {
  text-decoration: none;
  color: #333333;
}