* {
  box-sizing: border-box;
}

.main {
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
}

.sub-title {
  color: black;
  padding: 0.5em 0;
  border-top: solid 3px black;
  border-bottom: solid 3px black;
  padding-left: 3vh;
  margin-bottom: 5px;
  font-weight: bold;
}

.step-lists {
}

.step {
	border-bottom: 2px solid black;
}
.step span {
	color: #ffffff;
	font-size: 16px;
	line-height: 20px;
	background: #000000;
	display: inline-block;
	padding: 10px;
}

/* コミュニティ一覧 */
.community-contents{
  margin-top: 5px;
}

.title {
  margin-bottom: 5px;
}