<%# 診断画面 %>
<div id="shindan_wrap" style="background-color: #CCFFCC">
  <div id="question">
    あなたはインドア派？アウトドア派？
  </div>

  <ul class="answer_box">
    <li class="ans0001" id="answer_left">
      <div class="img" id="img01">
        <%= image_tag "img_0001_house.png", class:"image"%>
      </div>
      <div class="txtbox" id="txtbox01">
        <p id="txt01_1">やっぱりお家が１番</p>
        <p id="txt01_2">インドア派</p>
      </div>
    </li>
    <li class="ans0002" id="answer_right">
      <div class="img" id="img02">
        <%= image_tag "img_0002_sougen.png", class:"image"%>
      </div>
      <div class="txtbox" id="txtbox01">
        <p id="txt02_1">外がサイコー！</p>
        <p id="txt02_2">アウトドア派</p>
      </div>
    </li>
  </ul>
</div>

<%# 結果画面 %>
<div id="kekka_wrap">
  <div id="ans01" class="kekka01">
    <div class="kekkabox">
      <div class="kekka_ttl">
          おすすめの趣味は…<br class='sp_cont'><span>楽器</span>
      </div>
      <div class="kekka_inq">
        オススメの楽器はこちら！
      </div>
      
      <ul class="kekkalistbox">
        <li id="kekka_img01">
        </li>
        <li id="kekka_img02">
        </li>
        <li id="kekka_img03">
        </li>
        <li id="kekka_img04">
        </li>
      </ul>
    </div>
  </div>
</div>