<div class="shindan_wrap" style="background-color: palegreen">
  <div id="question">
    質問0
  </div>

  <ul class="answer_box">
    <li class="ans00" id="answer_left">
      <div class="img" id="img01">
        <%= image_tag "guitar.png", class:"image"%>
      </div>
      <div class="txtbox" id="txtbox01">
        <p id="txt01_1">txt01_1</p>
        <p id="txt01_2">txt01_2</p>
      </div>
    </li>
    <li class="ans00" id="answer_right">
      <div class="img" id="img02">
        <%= image_tag "guitar.png", class:"image"%>
      </div>
      <div class="txtbox" id="txtbox01">
        <p id="txt02_1">txt02_1</p>
        <p id="txt02_2">txt02_2</p>
      </div>
    </li>
  </ul>
</div>