<div class="body">
  <div class="stage">
    <div id="cards">
      <%# 1枚目 %>
      <div class="card" id="start">
        <div class='left-side'>
          <%= image_tag "guitar.png", width:160, height:210 %>
        </div>
        <div class='rigth-side'>
          form
        </div>
      </div>
      <%# 2枚目 %>
      <div class="card" id="retry">
        <div class='left-side'>
          <%= image_tag "guitar.png", width:160, height:210 %>
        </div>
        <div class='rigth-side'>
          result
        </div>
      </div>
    </div>
  </div>
</div>