<%= render "header" %>

<div class='main'>

  <%# Happy Hobbyの使い方 %>
  <div class='select-reason-contents'>
    <h2 class='sub-title'>Happy Hobbyの使い方</h2>
    <ul class='step-lists'>
      <li class='list'>
        <h3 class="step"><span>STEP1</span>まずは趣味診断をしてみよう！</h3>
      </li>
      <li class='list'>
        <h3 class="step"><span>STEP2</span>自分の趣味のコミュニティを作成してみよう！</h3>
      </li>
      <li class='list'>
        <h3 class="step"><span>STEP3</span>好きなコミュニティに入ってみよう！</h3>
      </li>
    </ul>
  </div>

  <%# コミュニティ一覧 %>
  <div class='community-contents'>
    <h2 class='title'>ピックアップコミュニティ</h2>
      <%= render partial: "community", collection: @communities %>
  </div>
</div>

<%# <%= render "footer" %>