/* 診断画面 */
#shindan_wrap {
  width: 100vw;
  height: 100vh;
  padding-top: 10vh;
}

#question {
  width: 70vw;
  height: 20vh;
  margin: auto;
  margin-bottom: 10vh;
  padding: 5vh;
  font-size: 3vw;
  font-weight: bold;
  background-color: #ffffff;
  border: 3px solid #000000;
  text-align: center;
}

.answer_box {
  display: flex;
  justify-content: space-around;
  max-width: 800px;
  margin: 0 auto;
}

.q00 {
}

.img {
  width: 25vw;
  height: 40vh;
  background-color: white;
  border: 1px solid black;
}

.image {
  width: 100%;
  height: 100%;
}

.txtbox {
  width: 25vw;
  height: 15vh;
  background-color: white;
  text-align: center;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

#txt01_1{
  font-size: 1.5vw;
}

#txt02_1{
  font-size: 1.5vw;
}

#txt01_2{
  width: 100%;
  height: 100%;
  font-size: 3vw;
  font-weight: 700;
}

#txt02_2{
  width: 100%;
  height: 100%;
  font-size: 3vw;
  font-weight: 700;
}

/* 結果画面 */
#kekka_wrap {
  width: 100vw;
  height: 100vh;
}

.kekkabox {
  width: 100vw;
  height: 100vh;
}

.kekka_ttl {
  width: 40vw;
  height: 15vh;
  margin: 0 auto;
  padding: 2vh;
  border: 3px solid #000000;
  font-weight: bold;
  background-color: #ffffff;
  font-size: 3vw;
  text-align: center;
}

#kekka_ossm {
  font-size: 1.5vw;
}

#kekka_hobby {
  font-weight: bold;
}

.kekka_inq {
  margin-top: 3vh;
  text-align: center;
}

.kekka_listbox {
  width: 100vw;
  height: 75vh;
}

.kekka_list {
  background-color: white;
  width: 70vw;
  height: 30vh;
  border: solid 2px black;
  margin-left: 15vw;
  margin-top: 3vh;
  display: flex;
}

.kekka_img {
  width: 30vh;
  height: 29vh;
}

.kekka_text {
  padding-top: 3vh;
  font-size: 1.5vw;
  font-weight: bold;
  line-height: 200%
}